body {
  font-family: "Mplus 1p";
  color: #555555;
  letter-spacing: .025em; }

.navbar-wbgifu {
  background-color: #045b7f !important; }

.navbar-logo {
  margin-right: 5px; }

.first-slide {
  max-width: 100%; }

.carousel-caption {
  background: rgba(4, 91, 127, 0.8);
  padding: 30px;
  border-radius: 10px; }
  .carousel-caption h1 {
    margin-bottom: 30px; }
  .carousel-caption p {
    margin-bottom: .5em; }
    .carousel-caption p a.btn {
      margin-top: 30px; }

.container__pr {
  margin-top: 50px;
  margin-bottom: 50px; }

.pr-thumbnail {
  margin-bottom: 30px;
  border: 2px solid #ccc; }

.pr-title {
  margin-bottom: 15px;
  font-size: 22px; }

.container__schedule {
  margin-top: 50px; }
  .container__schedule h2 {
    margin-bottom: 15px;
    font-size: 26px; }

.page-content-wrap {
  margin-top: 56px; }

.page-header {
  text-align: center; }
  .page-header h1 {
    margin-bottom: 15px; }
  .page-header h1,
  .page-header p.lead {
    color: #045b7f; }
  .page-header p.lead {
    font-size: 14px;
    opacity: .5; }

.page-content {
  padding-top: 30px;
  padding-bottom: 30px; }
  .page-content h2 {
    margin-top: 2em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px; }
    .page-content h2:first-child {
      margin-top: 0; }
  .page-content h3,
  .page-content h4,
  .page-content h5 {
    margin-top: 2em;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 3px solid #045b7f;
    margin-bottom: 10px; }
