include _header.pug
.page-content-wrap
	// start page content
	.jumbotron.jumbotron-fluid.page-header
		.container
			h1.display-4 WordBench岐阜とは
			p.lead WordBenchとは？WordBench岐阜とは？について
	// end page header
	// start page content
	.container.page-content
		h2 WordBenchとは
		p WordPressを好きな人・興味のある人が集まって構成される地域コミュニティです。
		p 各地域のコミュニティはボランティアのメンバーによって運営されています。WordPressのユーザーであれば誰でも参加できます。
		h2 WordBench岐阜とは
		p WordBench岐阜はWordPressに興味がある方のための地域コミュニティです。「興味あるんだけど、WordPressってなに？」という方から、実際にWordPressを仕事で使われたり開発されたりしている方など、幅広いレベルの方が１つの場所に集まって情報共有する場所です。
		p 岐阜以外にも近隣ですと名古屋や長野、滋賀、福井、石川などでも活動があります。しかし、岐阜では「初心者の方でも気軽に来られる場所にする」ということをモットーとして活動しています。
		h2 WordBench岐阜の特徴とは
		p 上に書いたように、WordBench岐阜では「初心者に優しいコミュニティ作り」を意識しています。
		p 上級者レベルの内容を催して情報共有することも当然進めていきますが、そちらとバランスを取りながら初心者向けの内容も提供していきます。
		p 正直、上級者レベルの内容は日本各地で頻繁に開催されています。近隣ではWordBench名古屋でもバランスをとって行われていますし、WordBench長野でも、少し足を伸ばしてWordBench京都やWordBench大阪でも催されています。
		p そこでWordBench岐阜では「初心者に寄り添った内容を定期的に行なっていこう」と考え、他の地域の方々から「初心者ならWordBench岐阜は手厚いですよ。行ってみてはどうですか？」と言っていただけるような、そんなWordBench岐阜を目指しています。
		p そして、他県からもWordBench岐阜へ遊びに来てもらえるような、そんな魅力あるコミュニティへ成長できればと考えています。
	// end page content
include _footer.pug
