include _header.pug
include _carousel.pug
// PR container
.container.container__pr
	.row
		.col-lg-4.pr-body.text-center
			img.rounded-circle.pr-thumbnail(src='images/friends.jpg', alt='')
			h2.pr-title 仲間をつくろう！
			p.pr-text 超初心者から上級者まで参加者レベルは様々です。そんな環境でも「初心者に優しく」というルールのもと、一緒に学んでいます。
			p
				a.btn.btn-info(href='#') WordBench岐阜とは
		.col-lg-4.pr-body.text-center
			img.rounded-circle.pr-thumbnail(src='images/beginner.jpg', alt='')
			h2.pr-title 初心者向け講座
			p.pr-text WordBench岐阜では「初心者向け講座」を定期的に開催しています。
			p
				a.btn.btn-info(href='#') 「定例WordPress講座」とは
		.col-lg-4.pr-body.text-center
			img.rounded-circle.pr-thumbnail(src='images/webtan.jpg', alt='')
			h2.pr-title 社内Web担当者も多く参加
			p.pr-text 「勤務先でWeb担当を任されたけどまったく知識がなくて…」という方もどんどん参加して仲間を作って楽しんでいます。
			p
				a.btn.btn-info(href='#') WordBench岐阜とは
include _footer.pug
