// carousel
#myCarousel.carousel.slide(data-ride='carousel')
	.carousel-inner
		.carousel-item.active
			img.first-slide(src='images/carousel-image-01.jpg')
			.container
				.carousel-caption.d-none.d-md-block.text-center
					h1 「初心者に優しいWordPressコミュニティ」
					p 「WordPressを触ってみたけど難しかった…」「本の通りにやってみたけどできなくて挫折した…」
					p 「勤務先でホームページ作ってと言われたけど、どうしたらいいのか…」
					p そんな「初心者」の方にも参加しやすい内容と環境を用意しています。
					p
						a.btn.btn-lg.btn-danger(href='https://wbgifu.connpass.com/', role='button', target='_blank') 次の開催日程を確認する
