include ../_include/_header.pug
.page-content-wrap
	// start page content
	.jumbotron.jumbotron-fluid.page-header
		.container
			h1.display-4 コンテンツ制作編
			p.lead 「投稿と固定ページ」「カスタム投稿タイプ入門」「コンテンツ制作で意識するSEO対策」
	// end page header
	// start page content
	.container.page-content
		.row
			.col-md-8
			include ../_include/_sidebar.pug

	// end page content
include ../_include/_footer.pug
