include ../_include/_header.pug
.page-content-wrap
	// start page content
	.jumbotron.jumbotron-fluid.page-header
		.container
			h1.display-4 定例WordPress講座とは？
			p.lead WordBench岐阜が行う「定例WordPress講座」の説明
	// end page header
	// start page content
	.container.page-content
		.row
			.col-md-8
				p.lead WordBench岐阜に参加してくださる参加者の方々の中には、超初心者の方から上級者までレベルも様々。そこで、私たちは特別に「超初心者から初心者へ」ステップアップしてもらえる講座を用意しました。
				h2 定例WordPress講座
				p 「定例WordPress講座」とは、全６回に分けて「WordPress超初心者が初心者へステップアップできる内容」を講座にまとめ、独自展開しているものです。
				p 講座内容は常にアップデートされ、全６回を終了しても繰り返し講座を開催していきます。（第6回目が終了しても、その後第1回目が再度スタートします）
				p また、途中から参加される方などへのフォローとして講座内容を動画で公開し、アーカイブとして保管することにしました。ですので、止むを得ず欠席される方や途中から参加される方でも、お好きなタイミングで過去の講座内容を確認することができます。
				h3 内容
				p 以下の内容を常にアップデートしていきながら繰り返し開催していく予定です。
				table.table.table-bordered
					thead
						tr
							th.text-center 回
							th タイトル
							th 内容
					tbody
						tr
							td.text-center 第1回
							td 導入編
							td
								|「WordPressとは」<br>
								|「ローカル開発環境を作ってWordPressを動かしてみる」
						tr
							td.text-center 第2回
							td 設定編
							td
								|「一番最初の初期設定」<br>
								|「よく使われるプラグイン」
						tr
							td.text-center 第3回
							td コンテンツ制作編
							td
								|「投稿と固定ページ」<br>
								|「カスタム投稿タイプ入門」<br>
								|「コンテンツ制作で意識するSEO対策
						tr
							td.text-center 第4回
							td HTML&CSS編
							td 「よく使うHTML&CSS」
						tr
							td.text-center 第5回
							td カスタマイズ編
							td 「子テーマを使ったカスタマイズ方法」
						tr
							td.text-center 第6回
							td 運用編
							td
								|「集客のためにまずやること」
								|「運用する上で気をつけること」
				small ※ 内容は予告なく変更・編集されることがあります。
				h3 テキストアーカイブについて
				p 講座内で紹介したもののリンクなどをまとめて掲載しておきます。
				p 実際の内容をテキスト形式にしてまとめたりもできたらしたいですね。
				h3 動画アーカイブについて
				p 動画アーカイブはYoutubeチャンネルを設けてアップロードしていきます。
				p 編集等の作業も必要になってくるので、提供に若干タイムディレイが発生することもあります。
			include ../_include/_sidebar.pug

	// end page content
include ../_include/_footer.pug
