include ../_include/_header.pug
.page-content-wrap
	// start page content
	.jumbotron.jumbotron-fluid.page-header
		.container
			h1.display-4 導入編
			p.lead 「WordPressとは」「ローカル開発環境を作ってWordPressを動かしてみる」
	// end page header
	// start page content
	.container.page-content
		.row
			.col-md-8
				h2 WordPressとは
				p 絶賛執筆中です
				h2 ローカル開発環境を作ってWordPressを動かしてみる

				.alert.alert-danger
					p ローカル開発環境を動かして実演しながら講座を進めます。講座に沿って同じように自身の手元で試してみたい場合にはPCを持参ください。
					p また、ローカル開発環境で使うアプリについては事前にダウンロード＆インストールをお願いします。（下記参照）

				h3 ローカル開発環境とは
				p ローカル開発環境とは、自身のPC内にもう一つ別のPCを作り、その中に作業環境を構築するというようなイメージで解釈してもらっていいかと思います。
				p 実際には、インターネットを経由してコントロールができるサーバーを利用して実験を行うことも可能です。
				p しかし、実際にはすでに運用を開始しているサーバーであったりすると、何かトラブルが起きた際に他のディレクトリを含むサーバー全体に悪影響を及ぼす可能性が考えられます。
				p ですので、実験やテストを気兼ねなく行うためにも、実際の運用サーバーとは切り離したローカル環境（自身のPC内）に環境を作ることが勧められています。
				p ローカル開発環境を整える方法はたくさんあります。例えばこんなものがあります。
				ul
					li: a(href="http://vccw.cc/", target="_blank") vccw (http://vccw.cc/)
					li: a(href="https://www.mamp.info/en/", target="_blank") MAMP (https://www.mamp.info/en/)
					li: a(href="https://local.getflywheel.com/", target="_blank") Local by Flywheel (https://local.getflywheel.com/)
				p 今回、こちらでは一番シンプルにWordPressを自身のパソコン内で立ち上げられる<strong>Local by Flywheel（以下、Flywheel）</strong>を利用してみることにします。
				p では、実際にWordPressを動かせるローカル開発環境を用意してみましょう。

				h3 Local by Flywheel をダウンロードする
				p まずは下のURLからアクセスして、Local by Flywheel という無料アプリケーションをダウンロードします。
				.alert.alert-secondary:  a(href="https://local.getflywheel.com/", target="_blank") https://local.getflywheel.com/

				p 上のURLをクリックするとこのようなページが表示されます。

				p
					img.img-fluid.img-thumbnail(src="https://wbgifu.github.io/doc/images/course/introduction-01.png")

				p 右上部の白文字で[DOWNLOAD]というボタンを押します。

				p
					img.img-fluid.img-thumbnail(src="https://wbgifu.github.io/doc/images/course/introduction-02.png")

				p [Mac]もしくは[Windows]を選択肢、その下の項目を入力します。入力が終わったら最下部の[GET IT NOW]ボタンをクリックします。

				p
					img.img-fluid.img-thumbnail(src="https://wbgifu.github.io/doc/images/course/introduction-03.png")

				p ダウンロードが進行しているはずです。（下画像はMacのサンプル）

				p
					img.img-fluid.img-thumbnail(src="https://wbgifu.github.io/doc/images/course/introduction-04.png")

				p ダウンロードが完了したら任意の場所にあるダウンロードしたZIPファイル（圧縮ファイル）を解凍します。Macの場合はファイルをクリックするだけで解凍が始まります。

				p
					img.img-fluid.img-thumbnail(src="https://wbgifu.github.io/doc/images/course/introduction-05.png")

				p 解凍が完了するとアプリケーションアイコンを確認することができるはずです。Macの場合はこのアプリケーションアイコン（アプリケーション自体）を【アプリケーション】フォルダに移動させておくことをお勧めします。（任意）

				p
					img.img-fluid.img-thumbnail(src="https://wbgifu.github.io/doc/images/course/introduction-06.png")

				p アプリケーションを起動させます。初めて起動する際には上のような表示になります。[LET'S GO]を押して進みます。途中、管理者権限のパスワードを求められることがありますが、必要に応じて対応してください。

				p 以上で、ダウンロードからインストールまでが完了しました。

				.alert.alert-danger <strong>ここまで準備した上で講座を受けられることを強くお勧めします。</strong>インストール処理に時間がかかるため講座内ではインストール方法の説明のみになります。

			include ../_include/_sidebar.pug

	// end page content
include ../_include/_footer.pug
