include ../_include/_header.pug
.page-content-wrap
	// start page content
	.jumbotron.jumbotron-fluid.page-header
		.container
			h1.display-4 運用編
			p.lead 「集客のためにまずやること」「運用する上で気をつけること」
	// end page header
	// start page content
	.container.page-content
		.row
			.col-md-8
			include ../_include/_sidebar.pug

	// end page content
include ../_include/_footer.pug
