include _include/_header.pug
include _include/_carousel.pug
// PR container
.container.container__pr
	.row
		.col-lg-4.pr-body.text-center
			img.rounded-circle.pr-thumbnail(src='images/friends.jpg', alt='')
			h2.pr-title 仲間をつくろう！
			p.pr-text 超初心者から上級者まで参加者レベルは様々です。そんな環境でも「初心者に優しく」というルールのもと、一緒に学んでいます。
			p
				a.btn.btn-info(href='/doc/about.html') WordBench岐阜とは
		.col-lg-4.pr-body.text-center
			img.rounded-circle.pr-thumbnail(src='images/beginner.jpg', alt='')
			h2.pr-title 初心者向け講座
			p.pr-text WordBench岐阜では「初心者向け講座」を定期的に開催しています。
			p
				a.btn.btn-info(href='/doc/course/index.html') 「定例WordPress講座」とは
		.col-lg-4.pr-body.text-center
			img.rounded-circle.pr-thumbnail(src='images/webtan.jpg', alt='')
			h2.pr-title 社内Web担当者も多く参加
			p.pr-text 「勤務先でWeb担当を任されたけどまったく知識がなくて…」という方もどんどん参加して仲間を作って楽しんでいます。
			p
				a.btn.btn-info(href='/doc/about.html') WordBench岐阜とは
// schedule
.container.container__schedule#schedule
	.row
		h2 過去の開催情報と今後の確定しているスケジュール
		table.table.table-bordered.table-responsive
			thead
				tr
					th 回
					th 日時
					th 場所
					th 内容
			tbody
				tr
					td.text-center 0
					td 2016年8月20日（土）14:00〜17:00
					td SORASIA
					td 「みんなで作っていこう、岐阜のWordPressコミュニティ。自己紹介＆意見交換会」
				tr
					td.text-center 1
					td 2016年9月24日（土）14:00〜17:00
					td SORASIA
					td WordPressもくもく会
				tr
					td.text-center 2
					td 2017年8月12日（土）12:30〜15:00
					td みんなの森 ぎふメディアコスモス あつまるスタジオ
					td: a(href='https://wbgifu.connpass.com/event/61147/') 記事を投稿する方法と便利な機能について
				tr
					td.text-center 3
					td 2017年9月9日（土）12:30〜15:00
					td みんなの森 ぎふメディアコスモス あつまるスタジオ
					td: a(href='https://wbgifu.connpass.com/event/63098/') 「WordPressを立ち上げたら“まず最初に“やるべき設定と入れておくべきプラグインの紹介」<br>「WordPressのThemeテリトリーとPluginテリトリーについて」
				tr
					td.text-center 4
					td 2017年10月1日（日）10:30〜13:00
					td みんなの森 ぎふメディアコスモス あつまるスタジオ
					td: a(href='https://wbgifu.connpass.com/event/66394/') 定例WordPress講座 -導入編-
				tr
					td.text-center 5
					td 2017年11月11日（土） 10:30〜13:00
					td みんなの森 ぎふメディアコスモス あつまるスタジオ
					td 定例WordPress講座 -設定編- 他未定
				tr
					td.text-center 6
					td 2017年12月2日（土）13:30〜17:00
					td みんなの森 ぎふメディアコスモス おどるスタジオ
					td 定例WordPress講座 -コンテンツ制作編- 他未定
				tr
					td.text-center 7
					td 2018年1月13日（土）13:30〜17:00
					td みんなの森 ぎふメディアコスモス あつまるスタジオ
					td 定例WordPress講座 -HTML&CSS編- 他未定
include _include/_footer.pug
