include ../_header.pug
.page-content-wrap
	// start page content
	.jumbotron.jumbotron-fluid.page-header
		.container
			h1.display-4 HTML&CSS編
			p.lead 	「よく使うHTML&CSS」
	// end page header
	// start page content
	.container.page-content

	// end page content
include ../_footer.pug
