include ../_header.pug
.page-content-wrap
	// start page content
	.jumbotron.jumbotron-fluid.page-header
		.container
			h1.display-4 導入編
			p.lead 「WordPressとは」「ローカル開発環境を作ってWordPressを動かしてみる」
	// end page header
	// start page content
	.container.page-content

	// end page content
include ../_footer.pug
