include ../_header.pug
.page-content-wrap
	// start page content
	.jumbotron.jumbotron-fluid.page-header
		.container
			h1.display-4 設定編
			p.lead 「一番最初の初期設定」「よく使われるプラグイン」
	// end page header
	// start page content
	.container.page-content

	// end page content
include ../_footer.pug
